.recent-item {
  .item-img-box {
    img {
      width: 100%;
    }
  }
  .item-content-box {
    padding: 10px 0;
    .date {
      font-size: 14px;
      padding-bottom: 10px;
      color: $icon-color;
    }
    .info {
      font-size: 22px;
    }
  }
}
