#video-section{
    background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .video-content-box{
.video-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    h4{
        font-family: $font-nothing;
        font-size: 80px;
        color: $secondary-color;
        line-height: 90px;
        font-weight: $fw-500;
        @include respond-to(tablet){
            font-size: 56px;
        }
        @include respond-to(mobile){
            font-size: 36px;
        }
    }
    a{
       display: inline-flex;
       justify-content: center;
       align-items: center;
        width: 80px;
        height: 80px;
        background-color: $green-color;
        border: none;
        border-radius: 50%;
        margin-top: 30px;
        @include respond-to(mobile){
            width: 60px;
            height: 60px;
        }
            i{
                color: $secondary-color;
                font-size: 18px;
            }
        
    }
}
    }
}