@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 75%;
  margin-inline: auto;
}

body {
  font-family: "Rubik", sans-serif;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-8 {
  width: 66.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
  }
}
header .navbar-container {
  padding-left: 4%;
}
header .navbar-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
header .navbar-container nav .logo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
header .navbar-container nav .logo-navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
header .navbar-container nav .logo-navbar .nav-list li a {
  line-height: 24px;
  color: #040E27;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
header .navbar-container nav .logo-navbar .nav-list li a:hover {
  color: #1EC6B6;
}
header .navbar-container nav .logo-navbar .nav-list .dropdown {
  position: relative;
}
header .navbar-container nav .logo-navbar .nav-list .dropdown i {
  font-size: 10px;
  opacity: 0.5;
}
header .navbar-container nav .logo-navbar .nav-list .dropdown .dropdown-list {
  padding: 10px 40px 10px 10px;
  position: absolute;
  top: 40px;
  background-color: #ffffff;
  width: 200px;
  font-size: 14px;
  display: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
          box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
  z-index: 1937;
}
header .navbar-container nav .logo-navbar .nav-list .dropdown .dropdown-list li a {
  color: #040E27;
}
header .navbar-container nav .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar-container nav .action .phone-number {
  position: relative;
}
header .navbar-container nav .action .phone-number::after {
  content: " ";
  width: 1px;
  height: 24px;
  background-color: #040E27;
  position: absolute;
  right: -20px;
  opacity: 0.1;
}
header .navbar-container nav .action .phone-number span i {
  color: #ff4A52;
}
header .navbar-container nav .action .phone-number a {
  color: #040E27;
  padding-left: 6px;
}
header .navbar-container nav .action .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  gap: 30px;
}
header .navbar-container nav .action .social-icons ul li a {
  color: #AAB1B7;
}
header .navbar-container nav .action .social-icons ul li a:hover {
  color: #ff4A52;
}
header .navbar-container nav .action .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #ff4A52;
  cursor: pointer;
}
header .navbar-container nav .action .search-container span i {
  color: #ffffff;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.card-header h3 {
  font-size: 32px;
  font-weight: 400;
}
.card-header p {
  width: 50%;
  margin: 2% 0 4% 0;
  color: #AAB1B7;
}

.slide-section .slider {
  width: 100%;
  position: relative;
}
.slide-section .slider .slides {
  position: relative;
}
.slide-section .slider .slides .slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}
.slide-section .slider .slides .slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.slide-section .slider .slides .slide .slide-content h1 {
  font-size: 150px;
  line-height: 75px;
  color: #ffffff;
  font-family: "Nothing You Could Do", cursive;
}
.slide-section .slider .slides .slide .slide-content p {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 33px 0 49px 0;
}
.slide-section .slider .slides .slide .slide-content button {
  padding: 18px 41px;
  background-color: #1EC6B6;
  border: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 5px;
}
.slide-section .slider .slides .slide .slide-content button:hover {
  background-color: #ff4A52;
}
.slide-section .slider .slides .slide .slide-content button a {
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
}
.slide-section .slider .slides .slide-btn-groups button {
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 120px;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.slide-section .slider .slides .slide-btn-groups button:hover {
  background-color: #ffffff;
  opacity: 1;
  color: #040E27;
}
.slide-section .slider .slides .slide-btn-groups .prev-btn {
  left: 0;
  line-height: 18px;
  font-size: 18px;
  color: #ff4A52;
}
.slide-section .slider .slides .slide-btn-groups .next-btn {
  right: 0;
  line-height: 18px;
  font-size: 18px;
  color: #ff4A52;
}

#travel-where {
  background-color: #040E27;
  padding: 50px 0;
}
#travel-where .travel-heading h4 {
  font-size: 24px;
  line-height: 28.8px;
  color: #ffffff;
  margin-right: 30px;
}
#travel-where .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
#travel-where .input-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#travel-where .input-form form input,
#travel-where .input-form form select {
  height: 50px;
  border: 1px solid #AAB1B7;
  border-radius: 5px;
  outline: none;
  width: 220px;
  background-color: transparent;
  padding: 4px 0 4px 15px;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form input::-webkit-input-placeholder, #travel-where .input-form form select::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form input::-moz-placeholder, #travel-where .input-form form select::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form input:-ms-input-placeholder, #travel-where .input-form form select:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form input::-ms-input-placeholder, #travel-where .input-form form select::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form input::placeholder,
#travel-where .input-form form select::placeholder {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.7;
}
#travel-where .input-form form option {
  color: #040E27;
}
#travel-where .input-form form button {
  height: 50px;
  width: 130px;
  background-color: #ff4A52;
  color: #ffffff;
  border-radius: 5px;
  padding: 13px 39px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#travel-where .input-form form button:hover {
  background-color: #1EC6B6;
}

#popular-destination .popular-destination-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
#popular-destination .popular-destination-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
#popular-destination .popular-destination-item::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
#popular-destination .popular-destination-item .item-img-box {
  overflow: hidden;
  height: 260px;
}
#popular-destination .popular-destination-item .item-img-box img {
  width: 100%;
  height: 100%;
}
#popular-destination .popular-destination-item .item-content-box {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
#popular-destination .popular-destination-item .item-content-box .country-name {
  font-size: 22px;
  color: #ffffff;
}
#popular-destination .popular-destination-item .item-content-box .places {
  font-size: 12px;
  background-color: #1EC6B6;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 50px;
}

.popular-places-item {
  -webkit-box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
          box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
  position: relative;
  border-radius: 5px;
}
.popular-places-item .item-img-box img {
  width: 100%;
  border-radius: 5px;
}
.popular-places-item .item-prices {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #1EC6B6;
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 50px;
}
.popular-places-item .item-content-box {
  padding: 20px;
}
.popular-places-item .item-content-box .travel-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.popular-places-item .item-content-box .travel-places .city {
  font-size: 22px;
}
.popular-places-item .item-content-box .travel-places .country {
  font-size: 14px;
  color: #AAB1B7;
}
.popular-places-item .item-content-box .review-days-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular-places-item .item-content-box .review-days-box .review-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.popular-places-item .item-content-box .review-days-box .review-star span {
  color: rgb(238, 187, 3);
  font-size: 12px;
}
.popular-places-item .item-content-box .review-days-box .review-star p {
  color: #AAB1B7;
  font-size: 14px;
}
.popular-places-item .item-content-box .review-days-box .review-day p {
  color: #AAB1B7;
  font-size: 14px;
}
.popular-places-item .item-content-box .review-days-box .review-day p i {
  color: #040E27;
  padding-right: 8px;
}

.recent-item .item-img-box img {
  width: 100%;
}
.recent-item .item-content-box {
  padding: 10px 0;
}
.recent-item .item-content-box .date {
  font-size: 14px;
  padding-bottom: 10px;
  color: #AAB1B7;
}
.recent-item .item-content-box .info {
  font-size: 22px;
}

#video-section {
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#video-section .video-content-box .video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#video-section .video-content-box .video-content h4 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 80px;
  color: #ffffff;
  line-height: 90px;
  font-weight: 500;
}
#video-section .video-content-box .video-content a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background-color: #1EC6B6;
  border: none;
  border-radius: 50%;
  margin-top: 30px;
}
#video-section .video-content-box .video-content a i {
  color: #ffffff;
  font-size: 18px;
}

#suggestion {
  padding: 150px 0;
}
#suggestion .suggestion-item {
  text-align: center;
}
#suggestion .suggestion-item h5 {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0 14px;
}
#suggestion .suggestion-item p {
  line-height: 1.8;
}

#person-slider {
  background-color: rgb(245, 245, 245);
}
#person-slider .swiper {
  width: 600px;
  height: 400px;
}
#person-slider .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
#person-slider .swiper .swiper-slide .person-header {
  position: relative;
}
#person-slider .swiper .swiper-slide .person-header .icon-box {
  font-size: 34px;
  position: absolute;
  background-color: #1EC6B6;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  bottom: 0;
  right: 0;
  padding-top: 10px;
}
#person-slider .swiper .swiper-slide .person-info-content .person-info {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
}

footer {
  background-color: #212520;
}